[Unit]
Description=masterless puppet run
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/run-puppet.sh
Type=oneshot
# none is deprecated, mixed gives downstream processes some time to cleanup/exit.
KillMode=mixed

[Install]
WantedBy=default.target
