[Unit]
Description=masterless puppet run
# cltbld-cleaner.service added so puppet waits for disk cleanup before starting.
# If cleaner is removed, revert to: Wants/After=network-online.target only.
Wants=network-online.target cltbld-cleaner.service
After=network-online.target cltbld-cleaner.service

[Service]
ExecStart=/usr/local/bin/run-puppet.sh
Type=oneshot
# we're using systemd only to start the script. disable process control.
# - we don't want puppet killed mid-run.
KillMode=none

[Install]
WantedBy=default.target
