[Unit]
Description=masterless puppet run
Wants=network-online.target
After=network-online.target

[Service]
ExecStart=/usr/local/bin/run-puppet.sh
# we're using systemd just as a way to start a script, please no process
# control. by default systemd can kill puppet during a dpkg command (and other
# horrible things).
KillMode=none

[Install]
WantedBy=default.target
