# place at /etc/systemd/system/cltbld-cleaner.service
#
# sudo systemctl daemon-reload
# sudo systemctl enable cltbld-cleaner.service
# sudo systemctl start cltbld-cleaner.service
#
# monitor with:
#   journalctl -u cltbld-cleaner -f -n 200

# ugh, name already a misnomer... cleans up apt also.

[Unit]
Description=Clean the cltbld directory and apt caches at startup
Before=run-puppet.service

[Service]
Type=oneshot
User=root
StandardOutput=journal
StandardError=journal
# apt-get can be slow; allow up to 30m
TimeoutStartSec=1800
# SIGTERM lets apt exit cleanly and release lock files if timeout is hit
KillSignal=SIGTERM
ExecStart=/usr/sbin/cltbld-and-apt-cleaner.sh

[Install]
WantedBy=multi-user.target
