# Ignore files produced by vagrant
*.log
.vagrant/*

# Ignore r10k modules dir but include the README.md
/r10k_modules/*
!/r10k_modules/.README.md

# Ignore swap files
*.swp
*.swo

# Do not include secrets
/data/secrets/*

# Node definitions are generated at time of provisioning and should not be tracked
/manifests/nodes/*
!/manifests/nodes/README.md
