# Ignore files produced by vagrant
*.log
.vagrant/*
.kitchen

# ignore local r10k files
.r10k/

# Ignore swap files
*.swp
*.swo

# secrets
vault.yaml
vault.yml

# editors
.vscode/

# Do not include secrets
/data/secrets/*

# Node definitions are generated at time of provisioning and should not be tracked
/manifests/nodes/*
!/manifests/nodes/README.md

# bundler paths
vendor/

# IDEs
.idea/

# ignore bolt rerun state file
.rerun.json

# ignore direnv
.envrc
