---
language: ruby
os: linux
dist: xenial
services: docker
rvm:
  - 2.6

cache:
  directories:
  - $HOME/.cache/pre-commit

# safelist - we only build on this list
branches:
  only:
    - master

before_install:
  - which ruby
  - which gem
  - gem update --system
  - gem install bundler

gemfile: ".gemfile"

env:
  - KITCHEN_TARGET=bitbar
  - KITCHEN_TARGET=linux
  - KITCHEN_TARGET=maas-region
  - KITCHEN_TARGET=maas-rack

stages:
  - pre-commit
  - install
  - test

script:
  - KITCHEN_YAML=.kitchen.docker.yml bundle exec kitchen converge $KITCHEN_TARGET
  - KITCHEN_YAML=.kitchen.docker.yml bundle exec kitchen verify $KITCHEN_TARGET

jobs:
  include:
    - stage: pre-commit
      env: KITCHEN_TARGET=none
      name: "exec pre-commit hooks"
      language: python
      before_install: pip3 install pre-commit==2.7.1
      script: pre-commit run --all-files
    - stage: install
      env: KITCHEN_TARGET=none
      name: "r10k puppetfile install"
      script: bundle exec r10k puppetfile install --moduledir=/tmp/r10k_module_test -v --force

notifications:
  slack:
    secure: pqcqAA4sJcvDf6raq5M7yyQENUFuexW5Vd6mgoQSQu9y2tP1CfWB/wfXEUQXPqpj77PVhy3YtU7IJmcigamwdAY1VjmkeSquyRRcAqOtLjVl6Lf7tfiHTUd4tgxtWR9CbM6XjPvrTVadeikyKgpTcG0+CKqTqwD3veBqqFwifoxcvPsQkHiRR9JqB3cU8eBpQaMBCTCWxWUTxPaJKENQGk63FbFf/QYjHwvbXVdVuSqgR3EwPa2XJRBNBxIl/+oTcvjT6Muv+4y7ucvYaIjpi8+oHuC2IWLbK79rNYLBBlWWWgNWN1O1BMs7vuwn8Q/WLxK77n8KB6WkY/S3VsJfLeY7ToK/qnopi/ZGQj8d7lyV6Y4gBpo5dxYQAWX3M240JkEderiGjKPg33dWKyFYt3TXxjq7lvFt4rIhWJFxPJG8xd+xOlZv9ibrnxZ81cV9V3v1lDn0GeMLNkigY3rg9fHQSmojAePjrPa33NvrHdT4k/gBZhowaqKvpOKnvhVZUuNsrKErT8GrflMRnc7Llm+vaLOo+csXJ/Cf9k5bgrMD9hqxPRT6m1TjTmDu3BgLmGAUrXkAd2CFThjB0Y9ceS6DQnmrp5Aral67cxxDXIkVPDJKhT4KUs3L1uqrl9jz99JI/6WKG5VQtyoQjSddI4r2oqXwpWOvQSH1Sa64VW0=
    on_success: always
    on_failure: always
    template:
      - "%{repository_slug} #%{build_number} (%{branch} - %{commit} - %{author})"
      - "Status: %{message}"
      - "Change view: %{compare_url}"
      - "Build details: %{build_url}"
