---
language: ruby
os: linux
dist: xenial
rvm:
  - 2.4.5

cache:
  directories:
  - $HOME/.cache/pre-commit

# safelist - we only build on this list
branches:
  only:
    - master

before_install:
  - gem update --system
  - gem install bundler
  - pip install pre-commit

gemfile: ".gemfile"

jobs:
  include:
    - name: "exec pre-commit hooks"
      language: python
      script:
        - pre-commit run --all-files
    - name: "puppet arser validate"
      script:
        - bundle exec puppet parser validate `find modules -name '*.pp'`
    - name: "puppet lint"
      script:
        - bundle exec puppet-lint --fail-on-warnings `find modules -name '*.pp'`
    - name: "r10k puppetfile install"
      script:
        - bundle exec r10k puppetfile install --moduledir=/tmp/r10k_module_test -v --force

notifications:
  slack:
    secure: pqcqAA4sJcvDf6raq5M7yyQENUFuexW5Vd6mgoQSQu9y2tP1CfWB/wfXEUQXPqpj77PVhy3YtU7IJmcigamwdAY1VjmkeSquyRRcAqOtLjVl6Lf7tfiHTUd4tgxtWR9CbM6XjPvrTVadeikyKgpTcG0+CKqTqwD3veBqqFwifoxcvPsQkHiRR9JqB3cU8eBpQaMBCTCWxWUTxPaJKENQGk63FbFf/QYjHwvbXVdVuSqgR3EwPa2XJRBNBxIl/+oTcvjT6Muv+4y7ucvYaIjpi8+oHuC2IWLbK79rNYLBBlWWWgNWN1O1BMs7vuwn8Q/WLxK77n8KB6WkY/S3VsJfLeY7ToK/qnopi/ZGQj8d7lyV6Y4gBpo5dxYQAWX3M240JkEderiGjKPg33dWKyFYt3TXxjq7lvFt4rIhWJFxPJG8xd+xOlZv9ibrnxZ81cV9V3v1lDn0GeMLNkigY3rg9fHQSmojAePjrPa33NvrHdT4k/gBZhowaqKvpOKnvhVZUuNsrKErT8GrflMRnc7Llm+vaLOo+csXJ/Cf9k5bgrMD9hqxPRT6m1TjTmDu3BgLmGAUrXkAd2CFThjB0Y9ceS6DQnmrp5Aral67cxxDXIkVPDJKhT4KUs3L1uqrl9jz99JI/6WKG5VQtyoQjSddI4r2oqXwpWOvQSH1Sa64VW0=
    on_success: always
    on_failure: always
    template:
      - "%{repository_slug} #%{build_number} (%{branch} - %{commit} - %{author})"
      - "Status: %{message}"
      - "Change view: %{compare_url}"
      - "Build details: %{build_url}"
