<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>org.mozilla.cleanbeforereboot</string>

    <key>ProgramArguments</key>
    <array>
        <string>/bin/bash</string>
        <string>-c</string>
        <string>su - root -c '/usr/local/bin/clean_before_reboot.sh'</string>
    </array>

    <key>RunAtLoad</key>
    <true/>

    <key>KeepAlive</key>
    <false/>

    <key>LaunchOnlyOnce</key>
    <true/>

    <key>StandardOutPath</key>
    <string>/tmp/org.mozilla.cleanbeforereboot.stdout</string>
    <key>StandardErrorPath</key>
    <string>/tmp/org.mozilla.cleanbeforereboot.stderr</string>

    <key>InitGroups</key>
    <true/>

    <key>ExitTimeout</key>
    <integer>300</integer>
</dict>
</plist>
