<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.mozilla.coresim-runtimemap-sync</string>
    <key>ProgramArguments</key>
    <array>
        <string>/usr/local/bin/coresim_runtimemap_sync.sh</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>WatchPaths</key>
    <array>
        <string>/Users</string>
    </array>
    <key>StandardOutPath</key>
    <string>/var/log/coresim-runtimemap-sync.log</string>
    <key>StandardErrorPath</key>
    <string>/var/log/coresim-runtimemap-sync.log</string>
    <key>ThrottleInterval</key>
    <integer>1</integer>
</dict>
</plist>
