<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>preferredRuntimes</key>
    <dict/>
    <key>userOverrides</key>
    <dict>
        <key>iphoneos26.2</key>
        <dict>
            <key>23C57</key>
            <string>23D8133</string>
        </dict>
    </dict>
</dict>
</plist>
