[Desktop Entry]
Encoding=UTF-8
Name=Update Notifier
Comment=Check for available updates automatically
Icon=update-notifier
Exec=update-notifier
Terminal=false
Type=Application
Categories=
NotShowIn=KDE;
NoDisplay=true
# disabled to avoid appearing in screenshots
X-GNOME-Autostart-Delay=False
X-Ubuntu-Gettext-Domain=update-notifier
