[Unit]
Description=check_gw

[Service]
Type=oneshot
ExecStart=/opt/relops-check_gw/check_gw.py --reboot
SuccessExitStatus=3 5
# disable process control. otherwise systemd will kill our reboot command.
KillMode=none
