name: Kitchen Windows

on:
  workflow_dispatch:
  push:
    paths:
      - 'modules/roles_profiles/**'
      - 'data/roles/win*.yaml'
      - 'data/os/Windows/**'
      - '.kitchen_configs/kitchen.windows.yml'
      - '.github/workflows/kitchen-windows.yml'
  pull_request:
    paths:
      - 'modules/roles_profiles/**'
      - 'data/roles/win*.yaml'
      - 'data/os/Windows/**'
      - '.kitchen_configs/kitchen.windows.yml'
      - '.github/workflows/kitchen-windows.yml'

jobs:
  test:
    name: ${{ matrix.role }}
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    strategy:
      fail-fast: false
      matrix:
        include:
          - role: win116425h2azure
            kitchen_target: windows-win11-64-25h2
    steps:
      - name: Checkout code
        uses: actions/checkout@692973e3d937129bcbf40652eb9f2f61becf3332

      - name: Azure login
        uses: azure/login@eec3c95657c1536435858eda1f3ff5437fee8474
        with:
          client-id: ${{ vars.AZURE_CLIENT_ID }}
          tenant-id: ${{ vars.AZURE_TENANT_ID }}
          subscription-id: ${{ vars.AZURE_SUBSCRIPTION_ID }}

      - name: Set up Ruby
        uses: ruby/setup-ruby@09a7688d3b55cf0e976497ff046b70949eeaccfd
        with:
          ruby-version: '3.2'
          bundler-cache: false

      - name: Cache gems
        uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830
        with:
          path: ~/.gem
          key: v1-gems-${{ runner.os }}-${{ hashFiles('.gemfile.lock') }}

      - name: Bundle install
        run: |
          bundle config set --local gemfile .gemfile
          bundle install

      - name: Kitchen test
        timeout-minutes: 60
        env:
          KITCHEN_YAML: .kitchen_configs/kitchen.windows.yml
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          PUPPET_ROLE: ${{ matrix.role }}
          RONIN_REF: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
        run: bundle exec kitchen test ${{ matrix.kitchen_target }} -l debug

      - name: Kitchen destroy
        if: always()
        env:
          KITCHEN_YAML: .kitchen_configs/kitchen.windows.yml
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
          PUPPET_ROLE: ${{ matrix.role }}
          RONIN_REF: ${{ github.event_name == 'pull_request' && github.event.pull_request.head.sha || github.sha }}
        run: bundle exec kitchen destroy ${{ matrix.kitchen_target }} -l debug
